<!-- Infos -->
<div class="game-indication" *ngIf="music">
    <div class="game-indication-text" [ngClass]="distance | indication: 'class'" *ngIf="showIndicator">
        {{distance | indication}}
    </div>
    <div class="game-indication-score">
        {{score}} / {{totalMusic}}
    </div>
    <div class="game-indication-music">
        <i class="icon-headphones"></i>{{music.name}}
    </div>
</div>
<!-- Instructions -->
<div class="game-indication-message" *ngIf="showMessage">
    <p>Something is hidden on the page. Click somewhere to stop all the great music that will be played.</p>
    <a class="game-indication-message-btn" (click)="startGame()">Start game</a>
</div>
