:host {
    position: absolute;
    bottom: 10px;
    left:0;
    right:0;
    margin: auto;
}
.game-indication{
    &-text{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        color: white;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        text-align:center;
        margin: auto;
        border-radius: 200px;
        transition: all .2s ease;
        text-transform: uppercase;
        bottom: 0;
        &.burning{
            color:#dc1010;
        }
        &.very-hot{
            color:#e00a57;
        }
        &.hot{
            color:#e00aad;
        }
        &.tepid{
            color:#ac0ae0;
        }
        &.cold{
            color:#690ae0;
        }
        &.very-cold{
            color:#0abce0;
        }
        &.glacial{
            color:#0ae0cb;
        }
    }
    &-music{
        position: absolute;
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        right: 10px;
        font-size: 0.8rem;
        bottom: 0;
    }
    &-score{
        position: absolute;
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        left: 10px;
        bottom: 0;
    }
}
