<div class="game-container" (click)="updateCircle($event); checkResult($event)"
[ngStyle]="fullHeight">
<!-- Click circles -->
<div class="game-click" *ngIf="showCircle" [ngStyle]="circlePosition"></div>

<!-- Logo -->
<img class="game-logo" src="assets/images/logo.png" alt="">

<!-- Target -->
<div class="game-answer" id="answer" [ngStyle]="randomPosition" [ngClass]="{'win': finded}">
    <img class="game-answer-image" src="assets/images/twerk.gif" alt="">
</div>

<!-- Next music button -->
<div class="game-next" *ngIf="finded && !endOfGame" >
    <h2 class="game-next-title">Thank's</h2>
    <a (click)="nextMusic($event)" class="game-next-btn">Next music</a>
</div>

<!-- Game timer -->
<div class="game-timer">
    {{time}}
</div>

<!-- End of game message -->
<div class="game-end" *ngIf="endOfGame">
    <h2 class="game-end-text">Thank you for stopping all these music in {{time}}s</h2>
    <p>Maybe you want to</p>
    <div class="game-end-btn" (click)="restartGame($event)">restart</div>
</div>

<pstm-music-player [clickContainer]="clickContainer" [win]="win"></pstm-music-player>
<pstm-game-indication [clickContainer]="clickContainer" [win]="win"></pstm-game-indication>
</div>

