<div class="game-container" (click)="checkResult($event)">
    <img class="game-logo" src="assets/images/logo.png" alt="">
    <div class="game-answer" id="answer" [ngStyle]="randomPosition" [ngClass]="{'win': finded}">
        <img class="game-answer-image" src="assets/images/twerk.gif" alt="">
    </div>

    <div class="game-click" *ngIf="showCircle" [ngStyle]="{'left': clickX - 5+'px', 'top': clickY - 5+'px'}"></div>

    <a class="game-next"
    *ngIf="finded && (indication.score < indication.totalMusic)"
    (click)="nextMusic($event)">
    Next music</a>

    <pstm-music-player [clickContainer]="clickContainer" [win]="win"></pstm-music-player>
    <pstm-game-indication [clickContainer]="clickContainer" [win]="win"></pstm-game-indication>

    <div class="game-end" *ngIf="indication.score === indication.totalMusic">
        <h2 class="game-end-text">Thank you for stopping all these music</h2>
        <p>Maybe you want to</p>
        <div class="game-end-btn" (click)="restartGame($event)">restart</div>
    </div>

</div>
